<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="shortcut icon" href="/static/img/favicon.ico">

        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PP-Blog后台登录</title>
        <link rel="stylesheet" href="/static/layui/css/layui.css?t=<?=$version?>" media="all">
        <link rel="stylesheet" href="/static/login/css/login.css?t=<?=$version?>" media="all">
    </head>

        <script>
            if(self.location !== top.location){
                top.location = self.location;
            }
        </script>
    <!--登录超时，跳出框架显示登录页      end-->
    <body>
        <div class="layui-carousel video_mask bg-img" id="login_carousel" >

            <div class="login layui-anim layui-anim-up">
                <h1>PP-Blog管理后台</h1></p>
                <form class="layui-form" action="" method="post">
                    <div class="layui-form-item">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入账号" autocomplete="off"  value="" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" value="" class="layui-input">
                    </div>

                    <div class="layui-form-item">
                        <input type="code" name="code" lay-verify="required" placeholder="验证码" autocomplete="off" width="20" value="" class="layui-input" style="width: 50%;float: left;"><span style="display: inline-block; float: left;" id="code_img"><img src=""></span>
                    </div>
                    <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登陆系统</button>
                </form>
            </div>
        </div>
        <script src="/static/layui/layui.js?t=<?=$version?>" charset="utf-8"></script>
        <script type="text/javascript">
            layui.use(['layer','form','jquery','element'], function(){   
                var layer = layui.layer; //弹层
                var form = layui.form;
                var $ = layui.jquery;
                var element = layui.element;

                verify_code();
                function verify_code(){
                    $.ajax({
                        type: "GET",
                        url: "/public/verify_code/set_verify_code",
                        dataType: "json",
                        success: function (data) {
                            if (data.status==200) {
                                var url_img = data.data;
                                $("#code_img img").attr('src',url_img[0]);
                            }else
                            {
                                layer.msg(data.message,{time:2000,offset: '100px'});
                            }
                        },
                    });
                }
                $("#code_img img").on('click',function(){
                    verify_code();
                });


                form.on('submit(login)', function(data){
                    $.ajax({
                        type: "POST",
                        url: "/login/login_in",
                        data: data.field,
                        dataType: "json",
                        success: function (data) {
                            if (data.status==0) {
                                window.location.href = "/admin/home/index";
                            }else
                            {
                                layer.msg(data.msg,{time:2000,offset: '100px'});
                                verify_code();
                            }
                        },
                    });
                    return false; 
                });

                element.render();
               
            })

        
        </script>
    </body>
</html>



