
<div class="layui-layout layui-layout-admin pp-main mt40">
    <form class="layui-form pp-form" action="javascript:;" method="post" >  
        <div class="layui-form-item">
            <label class="layui-form-label">网站全称</label>
            <div class="layui-input-inline width40">
                <input type="text" name="web_name" id="web_name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['web_name']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">网站简称</label>
            <div class="layui-input-inline width40">
                <input type="text" name="short_web_name" id="short_web_name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['short_web_name']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">网站关键字</label>
            <div class="layui-input-inline width40">
                <input type="text" name="keywords" id="keywords" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['keywords']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">网站标语</label>
            <div class="layui-input-inline width40">
                <input type="text" name="slogan" id="slogan" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['slogan']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        

        <div class="layui-form-item">
            <label class="layui-form-label">赞赏二维码</label>
            <div class="layui-input-inline width60">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <input type="text" name="prise_code" lay-verify="prise_code" autocomplete="off" id="prise_code"  placeholder="赞赏二维码" readonly="" class="layui-input" value="<?php echo isset($web_info['prise_code']) ? $web_info['prise_code'] : ''; ?>">
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-upload">
                            <a class="input-file input-fileup layui-btn layui-btn-primary" href="javascript:;">
                                选择图片<input size="20" type="file" name="myfile" id="myfile">
                            </a>
                        </div>
                    </div>
                </div>
                <div style="border: 1px solid #efeeff;width: 100px;height: 100px;margin-top:10px;float: left;"><img src="<?php echo isset($web_info['prise_code']) ? $web_info['prise_code'] : '/static/public/images/weixin.png'; ?>" alt="图片" width="100" height="100" id="img_src_show"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">网址</label>
            <div class="layui-input-inline width40">
                <input type="text" name="host" id="host" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['host']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">QQ</label>
            <div class="layui-input-inline width40">
                <input type="text" name="qq" id="qq" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['qq']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Email</label>
            <div class="layui-input-inline width40">
                <input type="text" name="mail" id="mail" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['mail']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Github</label>
            <div class="layui-input-inline width40">
                <input type="text" name="github" id="github" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['github']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">版权声明</label>
            <div class="layui-input-inline width40">
                <input type="text" name="copyright" id="copyright" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="<?=$web_info['copyright']?>">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">网站描述</label>
            <div class="layui-input-inline width40">
                <textarea name="description"  placeholder="网站描述" class="layui-textarea"><?=$web_info['description']?></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        
        
        <div class="layui-form-item">
            <label class="layui-form-label">底部信息</label>
            <div class="layui-input-inline width40">
                <textarea name="foot"  placeholder="底部信息" class="layui-textarea"><?=$web_info['foot']?></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">统计代码</label>
            <div class="layui-input-inline width40">
                <textarea name="count_code"  placeholder="统计代码" class="layui-textarea"><?php echo  isset($web_info['count_code']) ? $web_info['count_code'] : ''; ?></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="sub">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['form','element','jquery','layer','upload'], function(){
        var form = layui.form;
        var element = layui.element;
        var $ = layui.jquery;
        var layer = layui.layer;

        form.on('submit(sub)', function(data){
            var form_data = data.field;
            $.post('/admin/config/save', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg(out.msg,{icon: 1},function () {
                        window.location.reload();
                    })
                } else {
                    layer.msg(out.msg)
                }
            }, "json");
            return false;
        });

        //上传图片
        var upload = layui.upload;
        upload.render({
            elem: '#myfile'
            ,url: '/public/upload/image'
            ,auto: true //选择文件后不自动上传
            ,exts: 'jpg|png|gif|jpeg'
            ,data: {w:0,h:0,'file_path':'config'}
            ,done: function(res, index, upload){
                //假设code=0代表上传成功
                if(res.code == 0){
                    $('#prise_code').val(res.data.src);
                    $('#img_src_show').attr('src',res.data.src);
                }else{
                    layer.msg(res.msg);
                    return;
                }
            }
            ,error: function(index, upload){
                layer.msg("上传失败，请重新上传");
                return;
            }
        }); 

        element.render();

    });
</script>

