<style>
.layadmin-backlog-body {
    display: block;
    padding: 10px 15px;
}
.layui-col-xs3 a{
    background-color: #fff;
    border: #ccc 1px solid;

}

.layui-col-xs3 a > p{
    color: #5FB878;
    font-size:20px;
}

.layui-col-xs3 a:hover > p{
    color: #fff;
    font-size:20px;
}


.layui-col-xs3 a:hover{
    background-color: #5FB878;
    color:#fff;
    border: #5FB878 1px solid;
}

.layui-col-xs3{
    text-align: center;
}

</style>
<div class="layui-container" style="margin:0px;width: 100%;">  
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md8">
            <div class="layui-card pp-card">
                <div class="layui-card-header">网站数据</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space20">
                        <div class="layui-col-xs3">
                            <a lay-href="" class="layadmin-backlog-body">
                            <h3><i class="fa fa-file-archive-o "></i> 文章</h3>
                            <p><cite><?=$art_num?></cite></p>
                            </a>
                        </div>

                        
                        <div class="layui-col-xs3">
                            <a lay-href="" class="layadmin-backlog-body">
                            <h3> <i class="fa fa-image"></i> 图片</h3>
                            <p><cite><?=$img_num?></cite></p>
                            </a>
                        </div>
                        <div class="layui-col-xs3">
                            <a lay-href="" class="layadmin-backlog-body">
                            <h3> <i class="fa fa-tags"></i> 标签</h3>
                            <p><cite><?=$tag_num?></cite></p>
                            </a>
                        </div>
                        <div class="layui-col-xs3">
                            <a lay-href="" class="layadmin-backlog-body">
                            <h3><i class="fa fa-tasks"></i> 栏目</h3>
                            <p><cite><?=$cat_num?></cite></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-card pp-card" style="width:100%">
                <div class="layui-card-header">一周笔耕图</div>
                <div class="layui-card-body" id="main" style="height: 300px;width: 100%">

                </div>
            </div>

        </div>
        <div class="layui-col-md4">
            <div class="layui-card pp-card">
                <div class="layui-card-header">请我喝水</div>
                <div class="layui-card-body layui-text" style="text-align: center;">
                    <img src="/static/public/images/weixin.png" alt="" width="40%">
                </div>
            </div>
            <div class="layui-card pp-card">
                <div class="layui-card-header">版本信息</div>
                <div class="layui-card-body layui-text">
                    <table class="layui-table">
                        <colgroup>
                          <col width="100">
                          <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>当前版本</td>
                                <td>
                                    PP_blog-V1.0.0
                                    <a href="/admin/public/version" target="_blank" style="padding-left: 15px;">更新日志</a> 
                                </td>
                            </tr>
                            <tr>
                                <td>基于框架</td>
                                <td>
                                layui-v2.2.6 / CodeIgniter-v3.1.8 
                                </td>
                            </tr>
                            <tr>
                                <td>主要特色</td>
                                <td>简约不简单</td>
                            </tr>
                            <tr>
                                <td>下载交流</td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">

                                        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d397ca330efe29380d3eeaed846e88cd5eddd7a62f469200125b1d13c906485d" class="layui-btn layui-btn-danger layui-btn-sm">交流群</a>
                                        <!-- <a href="https://jq.qq.com/?_wv=1027&k=5wZeNTd" target="_blank" class="layui-btn layui-btn-danger layui-btn-sm">官方交流群</a> -->
                                        <a href="https://github.com/george518/PP_blog" target="_blank" class="layui-btn layui-btn-sm">下载</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
        </div>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/public/js/echarts.simple.min.js"></script>
<script>
    var $;
    layui.use(['form','element','jquery','util','laydate'], function(){

        var form = layui.form;
        var element = layui.element;
        $ = layui.jquery;
        var util = layui.util;
        var laydate = layui.laydate

        var util = layui.util;


        function run_time() {
            var a = new Date();
            var b = new Date(2010, 03, 18,00,00,00);
            a = a.valueOf();
            b = b.valueOf();
            var c = a - b;
            c = new Date(c);
            var str = c.getFullYear() - 1970 + '年' + (c.getMonth()) + '个月' + (c.getDate()-1) + '天' + (c.getHours()-8) + '个小时' + c.getMinutes() + '分钟' + c.getSeconds() + '秒';
            $("#run_time").html(str);
        }

        setInterval(run_time,1000);

        //echar图

        var a = "<?=$dates?>";
        var date = a.split(",");

        var b = "<?=$count?>";
        var login_sum = b.split(",");

        // var c = "19,19,56,33,37,31,51,45,17,0,";
        // var down_sum = c.split(",");

        var myChart = echarts.init(document.getElementById('main'));
        var colors = ['#009688', '#FF5722', '#675bba'];
        option = {
            color: colors,

            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross'
                }
            },
            legend: {
                data:['文章数量']
            },
            grid: {
                top: 70,
                bottom: 50,
                left:50,
                right:0
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return '文章数量  ' + params.value
                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                            }
                        }
                    },
                    data: date
                },
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return '登录次数  ' + params.value
                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                            }
                        }
                    },
                    data: date
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name:'文章数量',
                    type:'line',
                    xAxisIndex: 1,
                    smooth: true,
                    data: login_sum
                }
            ]
        };
        myChart.setOption(option);
        element.render();

    });

    
</script>