<!-- 弹出层时，用于隐藏 -->
<style>
    .nav-title{
        display: none;
    }
</style>

<div class="layui-layout layui-layout-admin pp-main mt40">
    <form class="layui-form pp-form" action="javascript:;" method="post" >  
        <div class="layui-form-item">
            <label class="layui-form-label">专题名称</label>
            <div class="layui-input-inline width40">
                <input type="text" name="title" id="title" lay-verify="required" autocomplete="off" placeholder="不超过30个字" class="layui-input" value="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">专题说明</label>
            <div class="layui-input-inline width60">
                <textarea name="detail"  placeholder="专题描述" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="sub">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['form','element','jquery','layer'], function(){

        var form = layui.form;
        var element = layui.element;
        var $ = layui.jquery;
        var layer = layui.layer;

        form.on('submit(sub)', function(data){
            var form_data = data.field;
            $.post('/admin/topic/save', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg(out.msg,{icon: 1},function () {
                        window.parent.layer.closeAll();
                        window.parent.location.reload();
                    })
                } else {
                    layer.msg(out.msg)
                }
            }, "json");
            return false;
        });

        element.render();

    });
</script>