<!-- 主题 -->
<div class="layui-container border pt20 mt105">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md8">
            <!-- 位置导航 -->
            <div class="header-nav bg-white">
                 <i class="fa fa-home fa-fw"></i> <a href="<?=$web_info['host']?>">首页</a> 
                <i class="fa fa-angle-right"></i> <a href="/<?=$content['cate_id']?>/1"><?php echo $page_info['cate_name'];?></a>
                <i class="fa fa-angle-right"></i> <a href="/<?=$content['id']?>"><?=$content['title']?></a>
            </div>
            <!-- 文章列表 -->
            <div class="content bg-white mt10">
                <h1><?=$content['title']?></h1>
                
                <div class="tag text-center mt20">
                    <span>
                        <i class="fa fa-clock-o"></i> <?php echo date('Y-m-d H:i:s',$content['add_time']);?>
                    </span> 
                    <span>
                        <i class="fa fa-user-o"></i> 
                        <font style="color: rgb(255, 87, 34);"><?=$content['from']?></font>
                    </span>

                    <span>
                        <i class="fa fa-comment-o"></i> <a href="#SOHUCS" id="changyan_count_unit"></a>
                    </span>
                    <span>
                        <i class="fa fa-eye"></i> <?=$content['hits']?>
                    </span>
                </div>

                <div class="clear"></div>

                <hr class="layui-bg-green">

                <div class="article-content mt20" id="art_content">
                    

                     <textarea style="display:none;" placeholder="markdown语言"> <?=$content['content']?></textarea>
                    
                </div>

                

                <div class="article-tags mt20">
                    <span><i class="fa fa-tags"></i></span> 
                    <?php foreach($tag as $k=>$t): ?>
                        <a href="/tag/<?=$k?>" rel="tag" ><?=$t?></a>
                    <?php endforeach; ?>
                </div>
                
                <?php if($content['is_original']==1):?>
                <div class="copy-right mt20">

                    <div class="copyright">
                        题目：<a href="<?=$web_info['host']?>/<?=$content['id']?>" title="<?=$content['title']?>" ><?=$content['title']?></a><br/>
                        作者：<?=$web_info['web_name']?><br/>
                        出处：<a href="<?=$web_info['host']?>/<?=$content['id']?>"><?=$web_info['host']?>/<?=$content['id']?></a><br/>
                        <?=$web_info['copyright']?>
                    </div>
                </div>
                <?php endif;?>
                
                <div class="tip text-center mt20">
                    <!-- <div class="layui-btn layui-btn-warm layui-hide layui-show-md-inline-block"><i class="fa fa-rmb"></i> 打赏</div> <div class="layui-btn"><i class="fa fa-thumbs-o-up" id="prise"></i> 赞 (<?=$content['prise']?>)</div> -->

                    <img src="/static/public/images/weixin.png" width="30%">
                </div>
                

                <div class="article-similar">
                    <h3>相似文章</h3>
                    <hr>
                    <ul>
                        <?php foreach($relation as $c): ?>
                        <li><a href="/<?=$c['id']?>" title="<?=$c['title']?>" ><?php echo mb_substr($c['title'],0,22,'utf-8');?>
                        </a></li>
                        <?php endforeach; ?>
                        </li>
                    </ul>
                </div>

                <div class="clear"></div>

                <div class="comment">
                    <h3>评论</h3>
                    <hr>

                    <!--PC打分版-->
                    <div id="SOHUCS" sid="<?=$content['id']?>"></div>
                    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
                    <script type="text/javascript">
                    window._config = { showScore: true };
                    window.changyan.api.config({
                    appid: 'cythWaX9C',
                    conf: 'prod_234dd15686a274b2eab95f5eb53d495f'
                    });
                    </script>
                </div>
            </div>

        </div>
        <div class="layui-col-md4">
            <div class="panel">
                <div class="panel-body text-center">
                    <img alt="345708673" class="img-lg img-circle mar-btm" src="../static/home/images/face.png">
                    <p class="text-lg text-semibold mar-btm"><?=$web_info['short_web_name']?></p>
                    <p class="text-muted" style="min-height: 50px;"><?=$web_info['slogan']?></p>
                    <hr>
                    <div class="mar-top">
                        <a target="_blank" title="GitHub" href="<?=$web_info['github']?>"><i class="fa fa-git fa-2x"></i></a>
                        <a target="_blank" title="给我写信" href="mailto:<?=$web_info['mail']?>"><i class="fa fa-envelope fa-2x"></i></a>
                        <a target="_blank" title="QQ交流" href="<?=$web_info['qq']?>"><i class="fa fa-qq fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel">
                <form class="layui-form" action="/search" method="post">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入搜索内容" style="width: 80%;float: left;" autocomplete="off" class="layui-input"> <button class="layui-btn" style="width: 20%;float: left;">搜索</button>
                    <div class="clear"></div>
                </form> 
            </div>

            <div class="panel">
                <h3>热门标签</h3>
                <hr class="layui-bg-green">
                <div class="tags">
                    <?php foreach($tags as $k=>$t): ?>
                        <a href="/tag/<?=$t['tag_id']?>"><?=$t['tag_name']?></a>
                    <?php endforeach; ?>
                </div>
                <div class="clear"></div>
            </div>

            <div class="panel">
                <h3>点击排行</h3>
                <hr class="layui-bg-green">
                <ul>
                    <?php foreach($hots as $c): ?>
                        <li><a href="/<?=$c['id']?>" title="<?=$c['title']?>" ><?php echo mb_substr($c['title'],0,22,'utf-8');?>
                            
                        </a></li>
                    <?php endforeach; ?>
                    
                </ul>
                <div class="clear"></div>
            </div>

            <div class="panel">
                <h3>推荐阅读</h3>
                <hr class="layui-bg-green">
                <ul>
                    <?php foreach($recommand as $c): ?>
                        <li><a href="/<?=$c['id']?>" title="<?=$c['title']?>" ><?php echo mb_substr($c['title'],0,22,'utf-8');?>
                        </a></li>
                    <?php endforeach; ?>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>


<script src="/static/layui/layui.js"></script>
<script src="/static/public/js/jquery.min.js?t=13"></script>
<script src="/static/editor.md/lib/marked.min.js"></script>
<script src="/static/editor.md/lib/prettify.min.js"></script>
<script src="/static/editor.md/lib/raphael.min.js"></script>
<script src="/static/editor.md/lib/underscore.min.js"></script>
<script src="/static/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/static/editor.md/lib/flowchart.min.js"></script>
<script src="/static/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="/static/editor.md/editormd.js"></script>

<script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js">
</script>
<script>
//一般直接写在一个js文件中
layui.use(['layer','element','form','carousel','laypage'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,element = layui.element;
    var $ = layui.$; 

    $('#prise').on('click',function(){

    })
    
});

$(function(){
        var testEditormdView2 = editormd.markdownToHTML("art_content", {
        htmlDecode      : "style,script,iframe",  // you can filter tags decode
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });
})
</script>
