<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
            <?php 
                if(isset($web_info['title'])){
                    echo $web_info['title'];
                }else{
                    echo $web_info['web_name'];
                }
            ?>
        </title>
        <meta name="keywords" content="<?=$web_info['keywords']?>">
        <meta name="description" content="<?=$web_info['description']?>">
        <link rel="shortcut icon" href="/static/home/images/favicon.ico">
        <link rel="stylesheet" href="/static/layui/css/layui.css">
        <link rel="stylesheet" href="/static/home/css/base.css?v=<?=$version?>">
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <?php 
            if(isset($web_info['count_code'])){
                echo $web_info['count_code'];
            }
        ?>
    </head>

    <body class="bg">
        <!-- 导航 -->
        <div class="header layui-layout layui-layout-admin pp-header-bg">
            <div class="layui-header pp-header">
                <div class="layui-logo">
                    <a href="<?=$web_info['host']?>" title="<?=$web_info['web_name']?>">
                        <?php if($web_info['logo']):?>
                            <img src="<?=$web_info['logo']?>" alt="<?=$web_info['web_name']?>">
                        <?php else:?>
                            <?=$web_info['short_web_name']?>
                        <?php endif;?>
                    </a>
                </div>

                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a data-cont="<?=$web_info['web_name']?>" title="<?=$web_info['web_name']?>" href="<?=$web_info['host']?>">首页</a></li>
                    <?php foreach($category as $k=>$c): ?>
                        <li class="layui-nav-item">
                            <a href="/<?=$k?>/1" title="<?=$c?>"><?=$c?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <!-- <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            贤心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退了</a></li> -->
                </ul>
            </div>
            <div class="hot-tags bg-white">
                <div class="pp-header" style="padding-left: 20px;">

                    <?php foreach($tags as $t=>$tg): ?> 
                    <?php if($t<=10):?>
                    <a href="/tag/<?=$tg['tag_name']?>"><?=$tg['tag_name']?></a>
                        <?php endif;?>
                    <?php endforeach;?>
                </div>
            </div>
        </div>