<!-- 主题 -->
<div class="layui-container border pt20 mt105">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md8">
            <!-- 位置导航 -->
            <div class="header-nav bg-white">
                <i class="fa fa-home fa-fw"></i> <a href="<?=$web_info['host']?>">首页</a> 
                <i class="fa fa-angle-right"></i> <a href="/search?w=<?=$word?>&p=1">搜索：<?=$word?></a>
            </div>
            <!-- 文章列表 -->
            <div class="article-list" id="article-list">
                <?php foreach($main_list as $kk=>$art): ?>
                <div class="article shadow mt10">
                    <div class="article-left">
                        <img src="<?=$art['img_src']?>"  alt="<?=$art['title']?>"/>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <?php if($art['is_original']==1):?>
                            <a class="layui-badge layui-original" style="font-size: 12px;">原创</a>
                            <?php else:?>
                            <a class="layui-badge" style="font-size: 12px;">转载</a> 
                            <?php endif;?>
                            <a href="/<?=$art['id']?>"><?php echo mb_substr($art['title'],0,26,'utf-8');?></a>
                        </div>
                        <div class="article-abstract">
                            <?php echo mb_substr($art['detail'],0,146,'utf-8');?>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;<?php echo date('Y-m-d',$art['add_time'])?></span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;<?=$art['from']?></span>
                        <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="/<?=$art['cate_id']?>/1">
                            <?php echo $category[$art['cate_id']];?>
                        </a></span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;<?=$art['hits'];?></span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
                </div>
                <?php endforeach; ?>
    
                <div class="page">
                    <div class="layui-box layui-laypage layui-laypage-default">
                        <?php if($page>1):?>
                            <a href="/search?w=<?=$word?>&p=<?=$page-1?>" class="layui-laypage-prev" >上一页</a>
                        <?php endif;?>
                        <?php if($page<$total):?>
                            <a href="/search?w=<?=$word?>&p=<?=$page+1?>" class="layui-laypage-next">下一页</a>  
                        <?php endif;?>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-col-md4">
            <div class="panel">
                <div class="panel-body text-center">
                    <img alt="345708673" class="img-lg img-circle mar-btm" src="/static/home/images/face.png">
                    <p class="text-lg text-semibold mar-btm"><?=$web_info['short_web_name']?></p>
                    <p class="text-muted" style="min-height: 50px;"><?=$web_info['slogan']?></p>
                    <hr>
                    <div class="mar-top">
                        <a target="_blank" title="GitHub" href="<?=$web_info['github']?>"><i class="fa fa-git fa-2x"></i></a>
                        <a target="_blank" title="给我写信" href="mailto:<?=$web_info['mail']?>"><i class="fa fa-envelope fa-2x"></i></a>
                        <a target="_blank" title="QQ交流" href="<?=$web_info['qq']?>"><i class="fa fa-qq fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel">
                <form class="layui-form" action="/search" method="post">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入搜索内容" style="width: 80%;float: left;" autocomplete="off" class="layui-input"> <button class="layui-btn" style="width: 20%;float: left;">搜索</button>
                    <div class="clear"></div>
                </form> 
            </div>

            <div class="panel">
                <h3>热门标签</h3>
                <hr class="layui-bg-green">
                <div class="tags">
                    <?php foreach($tags as $k=>$t): ?>
                        <a href="/tag/<?=$t['tag_id']?>"><?=$t['tag_name']?></a>
                    <?php endforeach; ?>
                </div>
                <div class="clear"></div>
            </div>

            <div class="panel">
                <h3>点击排行</h3>
                <hr class="layui-bg-green">
                <ul>
                    <?php foreach($hots as $c): ?>
                        <li><a href="/<?=$c['id']?>" title="<?=$c['title']?>" ><?php echo mb_substr($c['title'],0,22,'utf-8');?>
                            
                        </a></li>
                    <?php endforeach; ?>
                    
                </ul>
                <div class="clear"></div>
            </div>

            <div class="panel">
                <h3>推荐阅读</h3>
                <hr class="layui-bg-green">
                <ul>
                    <?php foreach($recommand as $c): ?>
                        <li><a href="/<?=$c['id']?>" title="<?=$c['title']?>" ><?php echo mb_substr($c['title'],0,22,'utf-8');?>
                        </a></li>
                    <?php endforeach; ?>
                </ul>
                <div class="clear"></div>
            </div>


        </div>
    </div>
</div>

<div class="clear"></div>
<script src="/static/layui/layui.js"></script>
<script>
//一般直接写在一个js文件中
layui.use(['layer','element','form','carousel','laypage'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,element = layui.element
    ,laypage = layui.laypage;
});
</script> 